:root{
    --bacground-color: white;
    --text-title-color: #053D4E;
    --text-color: #32363b;
    --icon-color: #32363b;
    --menu-color: #707780;
    --menu-icon-color: #707780;

    --text-selected-color: #355cc0;
    --bacground-selected: #ebf0ff;
    --background-hover: #f7f9fa;
    --border-color: #e6e9ed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans",sans-serif;
}

body{
    padding: 40px;
    width: 100%;
    height: 100vh;
}
main{
    padding-left: 3rem;
    padding-top: 3rem;
}

header{
z-index: 200;
width: 100%;
display: flex;
justify-content: space-between;
padding: 0.45rem 2rem 0.45rem 1.27rem;
border-bottom: 1px solid var(--border-color);
position: fixed;
background-color: var(--bacground-color);
top: 0;
left:0;
}



.opciones{
    padding-left: 0;
}
/*menu*/
.menu {
    position: relative;
    width: 1.5rem;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.menu div {
    position: absolute;
    width: 100%;
    height: 0.15rem;
    background-color: var(--menu-color);
    left: 0;
    transition: all 0.3s ease;
}
.menu div:nth-child(1) {
    top: 0;
}

.menu div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu div:nth-child(3) {
    bottom: 0;
}


/* Estado activo (forma una X) */
.menu.menu-toggle div:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.menu.menu-toggle div:nth-child(2) {
    opacity: 0;
}

.menu.menu-toggle div:nth-child(3) {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%) rotate(-45deg);
}



/*logo y menu*/
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4;
}


.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;

}
.brand .logo{
    width: 4rem;
    margin-left: 50%;
}
.brand .name{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-title-color);
}

/*opciones y perfil*/
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}
.right a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    transition: background-color 0.2 ease;
}
.right img{
    width: 1.5rem;
    margin: 0.5rem;
}

.right a:hover{
    background-color: var(--background-hover);

}
.right .user{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}


/*sidebar*/
.sidebar{
    margin-top: 4rem;
    width: 4rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1.1rem 0;
    border-right: 1px solid var(--border-color);
    overflow-y: auto;
    background-color: var(--bacground-color);
    transition: width 0.5s ease;
}
.sidebar a{
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding: 0.9rem 0.7rem;
    text-decoration: none;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    color: var(--text-color);
}
.sidebar.menu-toggle{
    width: 19.75rem;
}
.sidebar a:hover{
    background-color: var(--background-hover);
}
.sidebar a.selected{
    color: var(--text-selected-color);
    background-color: var(--bacground-selected);
}
.sidebar img{
    width: 1.6rem;
}
/*footer*/
footer {
text-align: center;
padding: 10px;
background-color: var(--bacground-color);
color: #333;
font-size: 14px;
margin-top: 20px;
}
/*responsive*/
@media (max-width:500px){
    .right .icon-header{
        display: none;
    }
}



    
    